.gallery-title {
  font-size: 25px;
}

.image-gallery {
  text-align: center;
}
.image-box {
  display: inline-block;
  margin: 10px;
}
.image {
  max-width: 300px;
  height: 200px;
  border: 2px solid #ddd;
  border-radius: 8px;
}
.price-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #af4c7a;
  color: white;
  border: none;
  border-radius: 5px;
}
.total-price-display {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
